<configuration>
  <configSections>
    <section name="MuboxConfig" type="Mubox.Configuration.MuboxConfigSection, Mubox"/>
  </configSections>
  <MuboxConfig MouseBufferMilliseconds="500" MouseMulticastMode="Pressed"
    PreferredTheme="Orange" AutoStartServer="true" AutoLaunchGame="true">
    <Profiles Default="GW2">
      <add Name="EVE" EnableMulticast="true">
        <Clients>
          <add Name="PLEXIE" CanLaunch="true" PerformConnectOnLoad="true"
            ApplicationPath="H:\EVE\bin\exefile.exe" WindowHandle="0" />
          <add Name="SOLDAT" CanLaunch="true" PerformConnectOnLoad="true"
            ApplicationPath="H:\EVE\bin\exefile.exe" WindowHandle="0" />
        </Clients>
        <Keys>
          <add InputKey="W" OutputKey="W" ActiveClientOnly="false" />
          <add InputKey="S" OutputKey="S" ActiveClientOnly="false" />
          <add InputKey="A" OutputKey="A" ActiveClientOnly="false" />
          <add InputKey="D" OutputKey="D" ActiveClientOnly="false" />
          <add InputKey="OEM2" OutputKey="OEM2" ActiveClientOnly="false" />
          <add InputKey="Divide" OutputKey="Divide" ActiveClientOnly="false" />
          <add InputKey="E" OutputKey="E" ActiveClientOnly="false" />
          <add InputKey="Return" OutputKey="Return" ActiveClientOnly="false" />
          <add InputKey="OEM5" OutputKey="OEM5" ActiveClientOnly="false" />
          <add InputKey="Escape" OutputKey="Escape" ActiveClientOnly="true" />
          <add InputKey="Tab" OutputKey="Tab" ActiveClientOnly="false" />
          <add InputKey="Tilde" OutputKey="Tilde" ActiveClientOnly="false" />
        </Keys>
      </add>
      <add Name="GW2" EnableMulticast="true">
        <Clients>
          <add Name="GUARDIAN" CanLaunch="true" PerformConnectOnLoad="true" 
            ApplicationPath="H:\GW2\GUARDIAN\GW2.exe" ApplicationArguments=""
            IsolationPath="C:\Isolated\" WindowHandle="4196482" />
          <add Name="MESMER" CanLaunch="true" PerformConnectOnLoad="true"
            ApplicationPath="H:\GW2\MESMER\GW2.exe" ApplicationArguments=""
            IsolationPath="C:\Isolated\" WindowHandle="0" />
        </Clients>
        <Keys>
          <add InputKey="W" OutputKey="W" ActiveClientOnly="false" />
          <add InputKey="S" OutputKey="S" ActiveClientOnly="false" />
          <add InputKey="A" OutputKey="A" ActiveClientOnly="false" />
          <add InputKey="D" OutputKey="D" ActiveClientOnly="false" />
          <add InputKey="OEM2" OutputKey="OEM2" ActiveClientOnly="true" />
          <add InputKey="Divide" OutputKey="Divide" ActiveClientOnly="true" />
          <add InputKey="E" OutputKey="E" ActiveClientOnly="false" />
          <add InputKey="Return" OutputKey="Return" ActiveClientOnly="false" />
          <add InputKey="OEM5" OutputKey="OEM5" ActiveClientOnly="true" />
          <add InputKey="Escape" OutputKey="Escape" ActiveClientOnly="true" />
          <add InputKey="Tab" OutputKey="Tab" ActiveClientOnly="false" />
          <add InputKey="Tilde" OutputKey="Tilde" ActiveClientOnly="false" />
          <add InputKey="LeftWindows" OutputKey="LeftWindows" SendToDesktop="true"
            ActiveClientOnly="false" RoundRobinKey="false" />
          <add InputKey="F5" OutputKey="F5" SendToDesktop="false" ActiveClientOnly="false"
            RoundRobinKey="false" />
          <add InputKey="F9" OutputKey="F9" SendToDesktop="true" ActiveClientOnly="false"
            RoundRobinKey="false" />
          <add InputKey="N7" OutputKey="N7" ActiveClientOnly="true" />
          <add InputKey="R" OutputKey="R" ActiveClientOnly="false" RoundRobinKey="false" />
          <add InputKey="I" OutputKey="I" ActiveClientOnly="true" RoundRobinKey="false" />
          <add InputKey="G" OutputKey="G" ActiveClientOnly="false" RoundRobinKey="false" />
          <add InputKey="T" OutputKey="T" ActiveClientOnly="true" RoundRobinKey="false" />
          <add InputKey="Print" OutputKey="Print" SendToDesktop="true"
            ActiveClientOnly="false" RoundRobinKey="false" />
          <add InputKey="N1" OutputKey="N1" ActiveClientOnly="false" RoundRobinKey="false" />
          <add InputKey="F1" OutputKey="F1" ActiveClientOnly="false" RoundRobinKey="true" />
          <add InputKey="F2" OutputKey="F2" ActiveClientOnly="false" RoundRobinKey="true" />
          <add InputKey="F3" OutputKey="F3" ActiveClientOnly="false" RoundRobinKey="true" />
          <add InputKey="F4" OutputKey="F4" ActiveClientOnly="false" />
          <add InputKey="F6" OutputKey="F6" ActiveClientOnly="true" />
          <add InputKey="F7" OutputKey="F7" ActiveClientOnly="true" />
          <add InputKey="F8" OutputKey="F8" ActiveClientOnly="true" />
          <add InputKey="F10" OutputKey="F10" SendToDesktop="true" ActiveClientOnly="false" />
          <add InputKey="F11" OutputKey="F11" ActiveClientOnly="true" />
          <add InputKey="F12" OutputKey="F12" ActiveClientOnly="false"
            RoundRobinKey="false" />
          <add InputKey="Pause" OutputKey="Pause" ActiveClientOnly="true" />
          <add InputKey="Insert" OutputKey="Insert" ActiveClientOnly="true" />
          <add InputKey="Delete" OutputKey="Delete" ActiveClientOnly="true" />
          <add InputKey="Back" OutputKey="Back" ActiveClientOnly="true" />
          <add InputKey="OEMPlus" OutputKey="OEMPlus" ActiveClientOnly="true" />
          <add InputKey="N0" OutputKey="N0" ActiveClientOnly="true" />
          <add InputKey="OEMMinus" OutputKey="OEMMinus" ActiveClientOnly="true" />
          <add InputKey="N9" OutputKey="N9" ActiveClientOnly="true" />
          <add InputKey="N8" OutputKey="N8" ActiveClientOnly="true" />
          <add InputKey="N6" OutputKey="N6" ActiveClientOnly="true" />
          <add InputKey="N5" OutputKey="N5" ActiveClientOnly="false" />
          <add InputKey="N4" OutputKey="N4" ActiveClientOnly="false" RoundRobinKey="true" />
          <add InputKey="N3" OutputKey="N3" ActiveClientOnly="false" />
          <add InputKey="N2" OutputKey="N2" ActiveClientOnly="false" />
          <add InputKey="Q" OutputKey="Q" ActiveClientOnly="false" />
          <add InputKey="Y" OutputKey="Y" ActiveClientOnly="true" />
          <add InputKey="U" OutputKey="U" ActiveClientOnly="true" />
          <add InputKey="O" OutputKey="O" ActiveClientOnly="true" />
          <add InputKey="P" OutputKey="P" ActiveClientOnly="true" />
          <add InputKey="OEM4" OutputKey="OEM4" ActiveClientOnly="true" />
          <add InputKey="CloseBracket" OutputKey="CloseBracket" ActiveClientOnly="true" />
          <add InputKey="OEM1" OutputKey="OEM1" ActiveClientOnly="true" />
          <add InputKey="OEM7" OutputKey="OEM7" ActiveClientOnly="true" />
          <add InputKey="L" OutputKey="L" ActiveClientOnly="true" />
          <add InputKey="K" OutputKey="K" ActiveClientOnly="true" />
          <add InputKey="J" OutputKey="J" ActiveClientOnly="true" />
          <add InputKey="H" OutputKey="H" ActiveClientOnly="false" />
          <add InputKey="F" OutputKey="F" ActiveClientOnly="false" />
          <add InputKey="Capital" OutputKey="Capital" ActiveClientOnly="true" />
          <add InputKey="Z" OutputKey="Z" ActiveClientOnly="false" />
          <add InputKey="X" OutputKey="X" ActiveClientOnly="true" />
          <add InputKey="C" OutputKey="C" ActiveClientOnly="true" />
          <add InputKey="V" OutputKey="V" ActiveClientOnly="false" />
          <add InputKey="B" OutputKey="B" ActiveClientOnly="true" />
          <add InputKey="N" OutputKey="N" ActiveClientOnly="true" />
          <add InputKey="M" OutputKey="M" ActiveClientOnly="false" />
          <add InputKey="OEMComma" OutputKey="OEMComma" ActiveClientOnly="true" />
          <add InputKey="OEMPeriod" OutputKey="OEMPeriod" ActiveClientOnly="true" />
          <add InputKey="Up" OutputKey="Up" ActiveClientOnly="false" />
          <add InputKey="Down" OutputKey="Down" ActiveClientOnly="false" />
          <add InputKey="Left" OutputKey="Left" ActiveClientOnly="false" />
          <add InputKey="Right" OutputKey="Right" ActiveClientOnly="false" />
          <add InputKey="Space" OutputKey="Space" ActiveClientOnly="false" />
        </Keys>
      </add>
    </Profiles>
  </MuboxConfig>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
